#titulo {
    color:deeppink
}

h1 {
    color: blueviolet;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
    color: darkorchid;
}

h1 {
    color: rgb(41, 117, 117);
}

.titulos-grandes {
    font-size: 50px;
}

.roxo {
    color: black;
}